Django
libpq-dev
python3-dev
psycopg
gdal-bin
libgdal-dev
django-cors-headers
djangorestframework
djangorestframework-gis
djangorestframework-simplejwt
requests
pyrebase4

# Dev dependencies
coverage
pylint
pylint-django
