Django
django-cors-headers
djangorestframework
djangorestframework-gis
djangorestframework-simplejwt
requests
pyrebase4
django-filter

# Dev dependencies
psycopg2
coverage
pylint
pylint-django
django-guardian
Pillow
