
<app-parkers-header>
</app-parkers-header>
  <ion-content>
    <div class="container">
      <div class="bookings-history">
        <ion-grid class="container-grid">
          <ion-row class="booking-header">
              <h2>Your Booking History</h2>
          </ion-row>
          <ion-row>
            <ion-col class="content-xl">
              <app-booking-desc *ngFor="let bookingspace of bookings" [booking] = "bookingspace">
              </app-booking-desc>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-content>
