<ion-content [fullscreen]="true">
    <ion-toolbar color="new">
        <ion-buttons slot="start">
          <ion-menu-button color="dark" (click)="presentActionSheet()" auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
          <ion-button>
            <ion-icon  color="dark" slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title color="dark">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="header-content">
                    <img class="header-logo" src="../../assets/images/logo.png">
                    <div class="header-text">The Parkers</div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-title>
      </ion-toolbar>
</ion-content>
