<ion-row class="form-container">
    <ion-col size-sm="5" size="12">
      <mat-form-field appearance="outline">
        <mat-label>Enter Location</mat-label>
        <input matInput>
      </mat-form-field>
    </ion-col>
  <ion-col size-sm="5" size="12">
    <mat-form-field appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <!-- <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
    </mat-form-field>
    </ion-col>
    <ion-col size-sm="2" size="12">
      <!-- <button class="search-parking" mat-raised-button color="primary">Search Parking</button> -->
      <ion-button class="search-parking-button" color="dark" size="medium">Search Parking</ion-button>
    </ion-col>
    <!-- <p>Selected range: {{range.value | json}}</p> -->
</ion-row>