.search-parking-button{
    display:block;
    margin:0.6rem 0;
    text-transform: initial;
}
.form-container{
    background-color: white;
    opacity: 80%;
    padding: 1rem;
    margin: 1rem auto;
    width: 70%;
    border-radius: 1rem;
  }
  mat-form-field{
    width: 100%;
  }
  .search-parking{
    margin:1rem;
  }